name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Test
        run: go test -v ./...
