name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Test
        run: go test -v ./...
