name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Test
        run: go test -v ./...
